/* Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px */

:root{
    --cor1: #016CE2;
    --cor2: #4A81C0;
    --cor3: #35ACFF;
    --cor4: #081430;
    --cor5: #002b70;
    --cor6: #000;
    --cor7: #FFF;
    --cor8: #F44E00;
}

@media screen and (max-width: 600px) {

    /**********************************************************************************/
                                /*COMEÇO DO HEADER*/
    /**********************************************************************************/

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        width: 100%;

        padding: 10px;

        background-color: var(--cor7);
    }


    .logo a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo img{
        width: 100px;
    }

    .logo-titulo{
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo-titulo-principal{
        font-family: Inter;
        font-weight: bold;
        font-size: 1.7em;

        color: var(--cor1);
    }

    .logo-subtitulo{
        font-family: Inter;
        font-size: .7em;

        color: var(--cor2);
    }

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        font-family: "Plus Jakarta Sans";
        font-size: .9em;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 20px 0 0 0;
    }

    nav ul li{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
    }

    nav ul li a{
        color: var(--cor3);
        transition: .3s;
        font-weight: bold;
    }

    nav ul li a:hover{
        color: var(--cor8);
        transform: translate(-2px, -2px);
    }


    /**********************************************************************************/
                                /*COMEÇO DO MAIN*/
    /**********************************************************************************/

    .boas-vindas{
        width: 100%;
        height: 90vh;

        background: url(../assets/imagens/david-2-background.png);
        background-position: 50% center;
        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 0 0 200px 0;
        box-shadow: 15px 40px 80px -40px var(--cor4);

        font-family: "Plus Jakarta Sans";

        transition: .6s;

    }

    .boas-vindas-textos{
        width: 95%;
        height: 45%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        margin: auto;

    }

    .boas-vindas-textos h1,
    .boas-vindas-textos p{
        background-image: linear-gradient(to right, var(--cor4), var(--cor1));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        transition: .6s;

    }

    .boas-vindas-textos span{
        color: var(--cor8);

        font-size: .8em;
    }

    .boas-vindas-textos h1{
        font-size: 1.8em;
        font-weight: bold;

        color: var(--cor4);

    }

    .boas-vindas-textos p{
        width: 70%;

        font-size: 1.2em;
    }

    .boas-vindas-textos a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .9em;

        font-family: Inter;

        border-radius: 5px;

        background-color: var(--cor4);
        color: var(--cor7);

        cursor: pointer;
    }

    .servicos-home{
        display: flex;
        flex-direction: column;
        text-align: center;

        margin-top: 40px;
    }

    .servicos-home hr{
        width: 80%;
        margin: auto;
        border-color: var(--cor8);
    }

    .servicos-home-negocio{
        font-family: "Plus Jakarta Sans";
        margin: 20px auto;
    }

    .servicos-home-negocio h3{
        color: var(--cor3);
        text-shadow: 0px 1px 0px var(--cor4);
    }

    .servicos-home-negocio p{
        color: var(--cor5);
    }

    .servicos-home-negocio span{
        color: var(--cor5);
        font-weight: bold;
    }

    .servicos-caixa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
    }

    .caixas{
        width: 300px;
        height: 100px;

        border: 1px solid var(--cor1);
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        margin:20px;
    }

    .caixas h2{
        font-family: Inter;
        font-size: 1.2em;
        color: var(--cor2);
    }

    .caixas span{
        font-family: Montserrat;
        font-weight: bold;
        color: var(--cor4);
    }

    .caixas img{
        width: 80px;
    }

    .atendimento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        font-family: "Plus Jakarta Sans";

        margin-top: 100px;
    }

    .atendimento h2{
        color: var(--cor5);

        width: 80%;
        margin: auto;
    }

    .atendimento p{
        margin: 10px auto;
        width: 90%;

        color: var(--cor4);
    }

    .combinado{
        margin: auto;
        width: 350px;
    }

    .destaque{
        font-weight: bold;
    }

    .atendimento-botoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
    }

    .atendimento-botoes button{
        margin: 0 5px;
        padding: 10px;
        font-family: Inter;
        cursor: pointer;
    }

    .abrir-empresa{
        border: none;
        border-radius: 5px;
        background-color: var(--cor4);
        color: var(--cor7);
    }

    .migrar-cont{
        border: 1px solid var(--cor4);
        border-radius: 5px;
        background-color: var(--cor7);
        color: var(--cor4);
    }


    .suporte-crescimento{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: Montserrat;
        margin: 50px auto;
    }

    .suporte-crescimento span{
        font-weight: normal;
        font-style: italic;
    }

    .suporte-titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 95%;
    }

    .suporte-titulo h2{
        color: var(--cor4);
        text-shadow: 0px 1px 1px var(--cor2);
        font-size: 2.3em;
    }

    .suporte-titulo p{
        margin: auto;

        width: 100%;
        color: var(--cor6);
        font-size: 1em;
    }

    .servicos-suporte-container{
        margin: 50px 0;
    }

    .servicos-suporte{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        margin: auto;
    }

    .servicos-suporte div{
        border-radius: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.185);
        box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.219);

        margin: 10px 0;

        width: 100%;

        padding: 20px;
        transition: .2s;
    }

    .servicos-suporte div h4{
        margin: 20px;
        font-size: 2em;
        text-align: center;
        color: var(--cor5);
    }

    .servicos-suporte div p{
        font-size: 1em;
    }

    .servicos-suporte div a{
        display: inline-flex;
        align-self: flex-start;
        font-size: .9em;
        text-decoration: underline;
        color: var(--cor8);
    }

    .suporte-crescimento img{
        display: block;
        margin: auto;
        width: 80px;
    }

    .bpo-financeiro-suporte{
        border-bottom: 0px solid;
    }

    .simples-nacional-suporte{
        border-right: 0px solid;
        border-left: 0px solid;
        border-bottom: 0px solid;
    }

    .regime-tributario-suporte{
        border-bottom: 0px solid;
    }

    .decimo-salario-suporte{
        border-right: 0px solid;
        border-left: 0px solid;
    }

    .par-suc-background{
        background-image: url(../assets/imagens/background-6.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

    .par-suc{
        width: 100%;

        color: var(--cor4);


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        font-family: Inter;

        padding: 20px;
    }

    .par-suc p{
        font-size: 1.1em;
        font-weight: 600;
        margin: 20px 0;
    }

    .par-suc h3{
        margin: 20px 0;
        font-size: 2em;
        font-weight: 900;
    }

    .par-suc a{
        width: 150px;
        height: 5vh;
        margin: 20px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .9em;

        font-family: Inter;

        border-radius: 15px;

        background-color: var(--cor4);
        color: var(--cor7);

        cursor: pointer;
    }
    /*************************************************************/
    /*********************** SERVICOS.HTML ***********************/
    /*************************************************************/

    body#servicos .servicos-titulo{
        width: 100%;
        height: 50vh;
        background: linear-gradient(to right, var(--cor4) 0%, transparent 155%, var(--cor4) 95%), url(../assets/imagens/background-8.jpg);
        background-position: 20% 45%;
        background-repeat: no-repeat;
        background-size: 160%;
        background-clip: border-box;
        

    }

    .servicos-titulo-texto{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        transition: .5s;
    }

    .servicos-titulo-texto h1{
        font-family: Montserrat;
        color: var(--cor8);
        font-size: 3em;
        text-shadow: 0px 2px 10px black;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -200%); */
    }

    .servicos-titulo-texto p{
        font-family: Inter;
        color: var(--cor7);
        font-size: .8em;
    }

    .servicos-container{
        font-family: Inter;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 5px;
    }

    .servicos-container img{
        width: 100px;
    }

    .caixa-servico:nth-child(n+2){
        background-image: url(../assets/imagens/wallpaperflare.com_wallpaper.jpg);
        background-size: cover;
        background-attachment: fixed;

    }

    .caixa-servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        max-width: 600px;
        border: none;
        border-radius: 0 0 20px 20px;

        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.11);
        
        margin: 10px;
        padding: 30px;

    }

    .caixa-servico h3{
        color: var(--cor5);
        text-align: center;
        margin: 20px 0;
        font-size: 1.6em;
    }

    .caixa-servico p{
        color: var(--cor4);
        font-size: 1em;
    }

    section div.servicos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        box-shadow: none;
    }

    section div.servicos h2{
        font-size: 2.2em;
        color: var(--cor4);
    }

    section div.servicos p{
        font-size: 1em;
    }

    section div.servicos a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: .9em;
        font-weight: bold;
        font-family: Inter;

        border-radius: 50px;
        border: 2px solid var(--cor8);

        color: var(--cor4);

        cursor: pointer;

        transition: .1s;
    }

    section div.servicos a:hover{
        border: 2px solid var(--cor4);
        color: var(--cor7);
        background-color: var(--cor4);
    }




    /*************************************************************/
    /*********************** CONTATO.HTML ************************/
    /*************************************************************/


    .contato-container{
        background-image: linear-gradient(to right, var(--cor4) 0%, transparent 55%, var(--cor4) 099%), url(../assets/imagens/background-1.jpg);
        background-position: center 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contato{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 400px;
        height: 90vh;

        margin-left: 150px;

        font-family: Inter;
        transition: .2s;
    }

    body#contato div.contato .logo{
        display: inline-flex;
    }

    body#contato div.contato .logo span{
        color: var(--cor7);
    }

    .lista-contato h2{
        color: var(--cor7);
        font-size: 3em;
        background-image: linear-gradient(to right, var(--cor7) 10%, var(--cor3) 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .lista-contato ul{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .lista-contato ul li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lista-contato ul li a{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 0;
        padding-left: 30px;

        width: 350px;
        height: 10vh;

        border-radius: 30px;

        background-color: white;
        color: var(--cor4);

        transition: .2s;
    }

    .lista-contato ul li p{
        padding: 0 10px;
        font-size: 1.5em;
        font-family: Montserrat;
        text-shadow: 0px 1px 1px var(--cor1);
    }

    .lista-contato ul li a:hover{
        background-color: var(--cor8);
        color: var(--cor7);
        box-shadow: 0px 10px 50px var(--cor4);
        font-weight: bold;
    }


    .lista-contato ul li a img{
        width: 50px;
    }


    /**********************************************************************************/
                                /*COMEÇO DO FOOTER*/
    /**********************************************************************************/

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        background-color: var(--cor4);
        color: var(--cor1);
        
        font-family: "Plus Jakarta Sans";
        
        box-shadow: 0px -3px 9px 0px var(--cor4);
    }

    footer .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        margin-top: 50px;
    }

    .redes-sociais-footer{
        order: 3;
    }

    .redes-sociais-footer ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    .redes-sociais-footer ul li{
        padding: 15px;
    }

    .redes-sociais-footer ul li a{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        color: var(--cor1);
        text-shadow: 2px 2px 5px var(--cor6);

        transition: .3s;
    }

    .redes-sociais-footer ul li a p{
        padding: 0 5px;
        display: none;
    }

    .redes-sociais-footer ul li a img{
        width: 30px;
    }

    .redes-sociais-footer ul li a:hover{
        transform: translate(-2px, -2px);
        text-shadow: 2px 2px 10px var(--cor6);
        color: var(--cor3);
    }

    .logo-redes{
        order: 2;
    }

    .logo-redes .logo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 0;
    }

    .logo-redes hr{
        width: 100%;
        margin: 10px 0;
        border-color: var(--cor4);
    }

    .logo-redes .logo img{
        width: 250px;
    }

    .logo-redes .logo-titulo-principal{
        font-size: 3em;
    }

    .logo-redes .logo-subtitulo{
        font-size: 1.2em;
    }

    .logo-redes .texto-footer{
        color: var(--cor3);
        text-align: center;
    }

    .mapa-site{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        gap: 20px;
        order: 1;
    }


    .nav-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px 0;
    }

    .nav-footer h3{
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .nav-footer ul{
        list-style: none;
    }

    .nav-footer ul li{
        margin: 5px 0;
    }

    .nav-footer ul li a{
        color: var(--cor7);
        transition: .2s;
    }

    .nav-footer ul li a:hover{
        color: var(--cor3);
    }

    div#creditos{
        font-size: .7em;
        margin: 15px;
        display: flex;
        align-self: center;
    }

    #creditos a{
        color: var(--cor3);
    }
}

@media screen and (min-width: 601px) and (max-width: 999px) {
    
    /**********************************************************************************/
                                /*COMEÇO DO HEADER*/
    /**********************************************************************************/

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        width: 100%;

        padding: 10px;
        border-bottom: 1px groove var(--cor8);

        background-color: var(--cor7);
    }


    .logo a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo img{
        width: 100px;
    }

    .logo-titulo{
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo-titulo-principal{
        font-family: Inter;
        font-weight: bold;
        font-size: 1.7em;

        color: var(--cor1);
    }

    .logo-subtitulo{
        font-family: Inter;
        font-size: .7em;

        color: var(--cor2);
    }

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        font-family: "Plus Jakarta Sans";
        font-size: .9em;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    nav ul li{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
    }

    nav ul li a{
        color: var(--cor3);
        transition: .3s;
        font-weight: bold;
    }

    nav ul li a:hover{
        color: var(--cor8);
        transform: translate(-2px, -2px);
    }


    /**********************************************************************************/
                                /*COMEÇO DO MAIN*/
    /**********************************************************************************/

    .boas-vindas{
        width: 100%;
        height: 90vh;

        background: url(../assets/imagens/david-2-background.png);
        background-position: 20% center;
        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 0 0 200px 0;
        box-shadow: 15px 40px 80px -40px var(--cor4);

        transition: .6s;
        font-family: "Plus Jakarta Sans";

    }

    .boas-vindas-textos{
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        margin: auto;
    }

    .boas-vindas-textos h1,
    .boas-vindas-textos p{
        background-image: linear-gradient(to right, var(--cor4), var(--cor1));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        transition: .6s;

    }

    .boas-vindas-textos span{
        color: var(--cor8);

        font-size: .8em;
    }

    .boas-vindas-textos h1{
        font-size: 2.3em;
        font-weight: bold;

        color: var(--cor4);

    }

    .boas-vindas-textos p{
        width: 40%;

        font-size: 1.4em;
    }

    .boas-vindas-textos a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .9em;

        font-family: Inter;

        border-radius: 5px;

        background-color: var(--cor4);
        color: var(--cor7);

        cursor: pointer;
    }

    .servicos-home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        margin-top: 40px;
    }

    .servicos-home hr{
        width: 80%;
        margin: auto;
        border-color: var(--cor8);
    }

    .servicos-home-negocio{
        font-family: "Plus Jakarta Sans";
        margin: 20px;
    }

    .servicos-home-negocio h3{
        color: var(--cor3);
        text-shadow: 0px 1px 0px var(--cor4);
    }

    .servicos-home-negocio p{
        color: var(--cor5);
    }

    .servicos-home-negocio span{
        color: var(--cor5);
        font-weight: bold;
    }

    .servicos-caixa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
    }

    .servicos-caixa a{
        margin: 20px;
    }

    .caixas{
        width: 300px;
        height: 100px;

        border: 1px solid var(--cor1);
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .caixas h2{
        font-family: Inter;
        font-size: 1.2em;
        color: var(--cor2);
    }

    .caixas span{
        font-family: Montserrat;
        font-weight: bold;
        color: var(--cor4);
    }

    .caixas img{
        width: 80px;
    }

    .atendimento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        font-family: "Plus Jakarta Sans";

        margin-top: 30px;
    }

    .atendimento h2{
        color: var(--cor5);

        width: 50%;
        margin: auto;
    }

    .atendimento p{
        margin: auto;
        margin-top: 0px;
        width: 40%;

        color: var(--cor4);
    }

    .combinado{
        margin: auto;
        max-width: 350px;
    }

    .destaque{
        font-weight: bold;
    }

    .atendimento-botoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
    }

    .atendimento-botoes button{
        margin: 0 5px;
        padding: 10px;
        font-family: Inter;
        cursor: pointer;
    }

    .abrir-empresa{
        border: none;
        border-radius: 5px;
        background-color: var(--cor4);
        color: var(--cor7);
    }

    .migrar-cont{
        border: 1px solid var(--cor4);
        border-radius: 5px;
        background-color: var(--cor7);
        color: var(--cor4);
    }


    .suporte-crescimento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: Montserrat;
        margin: 50px 0;
    }

    .suporte-crescimento span{
        font-weight: normal;
        font-style: italic;
    }

    .suporte-titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        width: 60%;
    }

    .suporte-titulo h2{
        color: var(--cor4);
        text-shadow: 0px 1px 1px var(--cor2);
        font-size: 2.3em;
    }

    .suporte-titulo p{
        margin: auto;

        width: 70%;
        color: var(--cor6);
        font-size: 1em;
    }

    .servicos-suporte-container{
        margin: 50px 0;
    }

    .servicos-suporte{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .servicos-suporte div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        padding: 20px;

        border-color: var(--cor8);

        transition: .6s;
    }

    .servicos-suporte div h4{
        margin: 20px;
        font-size: 1.3em;
    }

    .servicos-suporte div p{
        font-size: .8em;
    }

    .servicos-suporte div a{
        display: inline-flex;
        align-self: flex-start;
        font-size: .9em;
        text-decoration: underline;
        color: var(--cor8);
        border: 1px solid;
    }

    .suporte-crescimento img{
        width: 80px;
    }

    .bpo-financeiro-suporte,
    .simples-nacional-suporte,
    .regime-tributario-suporte,
    .abrir-empresa-suporte,
    .decimo-salario-suporte,
    .cinco-sinais-suporte{
        max-width: 600px;
    }

    .bpo-financeiro-suporte{
    }

    .simples-nacional-suporte{
    }

    .regime-tributario-suporte{
    }

    .decimo-salario-suporte{
    }


    .par-suc-background{
        background-image: url(../assets/imagens/background-6.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

    .par-suc{
        width: 100%;
        min-height: 200px;

        color: var(--cor4);


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        padding: 20px;

        font-family: Inter;
    }

    .par-suc p{
        font-size: 1.2em;
        font-weight: bold;
    }

    .par-suc h3{
        font-size: 2.2em;
    }

    .par-suc a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .9em;

        font-family: Inter;

        border-radius: 15px;

        background-color: var(--cor4);
        color: var(--cor7);

        cursor: pointer;
    }
    /*************************************************************/
    /*********************** SERVICOS.HTML ***********************/
    /*************************************************************/

    body#servicos .servicos-titulo{
        width: 100%;
        height: 50vh;
        background: linear-gradient(to right, var(--cor4) 5%, transparent 155%, var(--cor4) 95%), url(../assets/imagens/background-8.jpg);
        background-position: center 45%;
        background-repeat: no-repeat;
        background-size: 120%;
        background-clip: border-box;
        

    }

    .servicos-titulo-texto{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        transition: .5s;
    }

    .servicos-titulo-texto h1{
        font-family: Montserrat;
        color: var(--cor8);
        font-size: 5em;
        text-shadow: 0px 2px 10px black;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -200%); */
    }

    .servicos-titulo-texto p{
        font-family: Inter;
        color: var(--cor7);
    }

    .servicos-container{
        font-family: Inter;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 50px;
    }

    .servicos-container img{
        width: 100px;
    }

    .caixa-servico:nth-child(n+2){
        background-image: url(../assets/imagens/wallpaperflare.com_wallpaper.jpg);
        background-size: cover;
        background-attachment: fixed;

    }

    .caixa-servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        max-width: 700px;
        border: none;
        border-radius: 0 0 20px 20px;

        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.11);
        
        margin: 10px;
        padding: 30px;

    }

    .caixa-servico h3{
        color: var(--cor5);
        text-align: center;
        margin: 20px 0;
        font-size: 1.6em;
    }

    .caixa-servico p{
        color: var(--cor4);
        font-size: 1em;
    }

    section div.servicos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        box-shadow: none;
    }

    section div.servicos h2{
        font-size: 2.5em;
        padding: 20px 0;
        color: var(--cor4);
    }

    section div.servicos p{
        font-size: 1em;
    }

    section div.servicos a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: .9em;
        font-weight: bold;
        font-family: Inter;

        border-radius: 50px;
        border: 2px solid var(--cor8);

        color: var(--cor4);

        cursor: pointer;

        transition: .1s;
    }

    section div.servicos a:hover{
        border: 2px solid var(--cor4);
        color: var(--cor7);
        background-color: var(--cor4);
    }



    /*************************************************************/
    /*********************** CONTATO.HTML ************************/
    /*************************************************************/


    .contato-container{
        background-image: linear-gradient(to right, var(--cor4) 0%, transparent 55%, var(--cor4) 099%), url(../assets/imagens/background-1.jpg);
        background-position: center 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contato{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 400px;
        height: 90vh;

        margin-left: 150px;

        font-family: Inter;
        transition: .2s;
    }

    body#contato div.contato .logo{
        display: inline-flex;
    }

    body#contato div.contato .logo span{
        color: var(--cor7);
    }

    .lista-contato h2{
        color: var(--cor7);
        font-size: 3em;
        background-image: linear-gradient(to right, var(--cor7) 10%, var(--cor3) 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .lista-contato ul{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .lista-contato ul li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lista-contato ul li a{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 0;
        padding-left: 30px;

        width: 350px;
        height: 10vh;

        border-radius: 30px;

        background-color: white;
        color: var(--cor4);

        transition: .2s;
    }

    .lista-contato ul li p{
        padding: 0 10px;
        font-size: 1.5em;
        font-family: Montserrat;
        text-shadow: 0px 1px 1px var(--cor1);
    }

    .lista-contato ul li a:hover{
        background-color: var(--cor8);
        color: var(--cor7);
        box-shadow: 0px 10px 50px var(--cor4);
        font-weight: bold;
    }


    .lista-contato ul li a img{
        width: 50px;
    }


    /**********************************************************************************/
                                /*COMEÇO DO FOOTER*/
    /**********************************************************************************/

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        background-color: var(--cor4);
        color: var(--cor1);
        
        font-family: "Plus Jakarta Sans";
        
        box-shadow: 0px -3px 9px 0px var(--cor4);
    }

    footer .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        margin-top: 50px;
    }


    .redes-sociais-footer ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
    }

    .redes-sociais-footer ul li{
        padding: 15px;
    }

    .redes-sociais-footer ul li a{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        color: var(--cor1);
        text-shadow: 2px 2px 5px var(--cor6);

        transition: .3s;
    }

    .redes-sociais-footer ul li a p{
        padding: 0 5px;
    }

    .redes-sociais-footer ul li a img{
        width: 30px;
    }

    .redes-sociais-footer ul li a:hover{
        transform: translate(-2px, -2px);
        text-shadow: 2px 2px 10px var(--cor6);
        color: var(--cor3);
    }

    .logo-redes .logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo-redes hr{
        width: 100%;
        margin: 10px 0;
        border-color: var(--cor4);
    }

    .logo-redes .logo img{
        width: 200px;
    }

    .logo-redes .logo-titulo-principal{
        font-size: 3em;
    }

    .logo-redes .logo-subtitulo{
        font-size: 1.2em;
    }

    .logo-redes .texto-footer{
        color: var(--cor3);
        text-align: center;
    }

    .mapa-site{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        gap: 20px;
    }


    .nav-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-footer h3{
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .nav-footer ul{
        list-style: none;
    }

    .nav-footer ul li{
        margin: 5px 0;
    }

    .nav-footer ul li a{
        color: var(--cor7);
        transition: .2s;
    }

    .nav-footer ul li a:hover{
        color: var(--cor3);
    }

    div#creditos{
        font-size: .7em;
        margin: 15px;
        display: flex;
        align-self: flex-end;
    }


    #creditos a{
        color: var(--cor3);
    }

}

@media screen and (min-width: 1000px) {
    
    /**********************************************************************************/
                                /*COMEÇO DO HEADER*/
    /**********************************************************************************/

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        width: 100%;

        padding: 10px;

        background-color: var(--cor7);
    }


    .logo a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo img{
        width: 100px;
    }

    .logo-titulo{
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo-titulo-principal{
        font-family: Inter;
        font-weight: bold;
        font-size: 1.7em;

        color: var(--cor1);
    }

    .logo-subtitulo{
        font-family: Inter;
        font-size: .7em;

        color: var(--cor2);
    }

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        font-family: "Plus Jakarta Sans";
        font-size: .9em;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    nav ul li{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
    }

    nav ul li a{
        color: var(--cor3);
        transition: .3s;
        font-weight: bold;
    }

    nav ul li a:hover{
        color: var(--cor8);
        transform: translate(-2px, -2px);
    }


    /**********************************************************************************/
                                /*COMEÇO DO MAIN*/
    /**********************************************************************************/

    .boas-vindas{
        width: 100%;
        height: 90vh;

        background: url(../assets/imagens/david-2-background.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        box-shadow: 0px 10px 20px -8px var(--cor4);

        font-family: "Plus Jakarta Sans";
        transition: .6s;

    }

    .boas-vindas-textos{
        width: 80%;
        height: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        margin: auto;
    }

    .boas-vindas-textos h1,
    .boas-vindas-textos p{
        background-image: linear-gradient(to right, var(--cor4), var(--cor1));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .boas-vindas-textos span{
        color: var(--cor8);

        font-size: .8em;
    }

    .boas-vindas-textos h1{
        font-size: 3em;
        font-weight: bold;

        color: var(--cor4);

    }

    .boas-vindas-textos p{
        width: 40%;

        font-size: 2em;
    }

    .boas-vindas-textos a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .9em;

        font-family: Inter;

        border-radius: 5px;

        background-color: var(--cor4);
        color: var(--cor7);

        cursor: pointer;
    }

    .servicos-home{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        margin-top: 40px;
    }

    .servicos-home hr{
        width: 80%;
        margin: auto;
        border-color: var(--cor8);
    }

    .servicos-home-negocio{
        font-family: "Plus Jakarta Sans";
        margin: 20px;
    }

    .servicos-home-negocio h3{
        color: var(--cor3);
        text-shadow: 0px 1px 0px var(--cor4);
    }

    .servicos-home-negocio p{
        color: var(--cor5);
    }

    .servicos-home-negocio span{
        color: var(--cor5);
        font-weight: bold;
    }

    .servicos-caixa{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 50px;
    }

    .servicos-caixa a{
        margin: 20px;
    }

    .caixas{
        width: 300px;
        height: 100px;

        border: 1px solid var(--cor1);
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .caixas h2{
        font-family: Inter;
        font-size: 1.2em;
        color: var(--cor2);
    }

    .caixas span{
        font-family: Montserrat;
        font-weight: bold;
        color: var(--cor4);
    }

    .caixas img{
        width: 80px;
    }

    .atendimento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        font-family: "Plus Jakarta Sans";

        margin-top: 30px;
    }

    .atendimento h2{
        color: var(--cor5);

        width: 50%;
        margin: auto;
    }

    .atendimento p{
        margin: auto;
        margin-top: 0px;
        width: 40%;

        color: var(--cor4);
    }

    .combinado{
        margin: auto;
        max-width: 350px;
    }

    .destaque{
        font-weight: bold;
    }

    .atendimento-botoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;
    }

    .atendimento-botoes button{
        margin: 0 5px;
        padding: 10px;
        font-family: Inter;
        cursor: pointer;
    }

    .abrir-empresa{
        border: none;
        border-radius: 5px;
        background-color: var(--cor4);
        color: var(--cor7);
    }

    .migrar-cont{
        border: 1px solid var(--cor4);
        border-radius: 5px;
        background-color: var(--cor7);
        color: var(--cor4);
    }


    .suporte-crescimento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-family: Montserrat;
        margin: 50px 0;
    }

    .suporte-crescimento span{
        font-weight: normal;
        font-style: italic;
    }

    .suporte-titulo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

        width: 60%;
    }

    .suporte-titulo h2{
        color: var(--cor4);
        text-shadow: 0px 1px 1px var(--cor2);
        font-size: 2.3em;
    }

    .suporte-titulo p{
        margin: auto;

        width: 70%;
        color: var(--cor6);
        font-size: 1em;
    }

    .servicos-suporte-container{
        margin: 50px 0;
    }

    .servicos-suporte{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .servicos-suporte div{
        width: 25%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        padding: 20px;

        border-color: var(--cor8);
    }

    .servicos-suporte div h4{
        margin: 20px;
        font-size: 1.3em;
    }

    .servicos-suporte div p{
        font-size: .8em;
    }

    .servicos-suporte div a{
        display: inline-flex;
        align-self: flex-start;
        font-size: .9em;
        text-decoration: underline;
        color: var(--cor8);
    }

    .suporte-crescimento img{
        width: 80px;
    }

    .bpo-financeiro-suporte{
        border-bottom: 1px solid;
    }

    .simples-nacional-suporte{
        border-right: 1px solid;
        border-left: 1px solid;
        border-bottom: 1px solid;
    }

    .regime-tributario-suporte{
        border-bottom: 1px solid;
    }

    .decimo-salario-suporte{
        border-right: 1px solid;
        border-left: 1px solid;
    }

    .par-suc-background{
        background-image: url(../assets/imagens/background-6.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }

    .par-suc{
        width: 100%;
        min-height: 200px;

        color: var(--cor4);


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        padding: 20px;

        font-family: Inter;
    }

    .par-suc p{
        font-size: 1.2em;
        font-weight: bold;
    }

    .par-suc h3{
        font-size: 2.2em;
    }

    .par-suc a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: .9em;

        font-family: Inter;

        border-radius: 15px;

        background-color: var(--cor4);
        color: var(--cor7);

        cursor: pointer;
    }
    /*************************************************************/
    /*********************** SERVICOS.HTML ***********************/
    /*************************************************************/

    body#servicos .servicos-titulo{
        width: 100%;
        height: 50vh;
        background-image: linear-gradient(to right, var(--cor4) 0%, transparent 55%, var(--cor4) 099%),  url(../assets/imagens/background-8.jpg);
        background-position: center 45%;
        background-repeat: no-repeat;
        background-size: cover;

        transition: .4s;

    }

    .servicos-titulo-texto{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        transition: .4s;
        margin: auto;
    }

    .servicos-titulo-texto h1{
        font-family: Montserrat;
        color: var(--cor8);
        font-size: 5em;
        text-shadow: 0px 2px 10px black;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -200%); */
    }

    .servicos-titulo-texto p{
        font-family: Inter;
        color: var(--cor7);
    }

    .servicos-container{
        font-family: Inter;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 50px;
    }

    .servicos-container img{
        width: 100px;
    }

    .caixa-servico:nth-child(n+2){
        background-image: url(../assets/imagens/wallpaperflare.com_wallpaper.jpg);
        background-size: cover;
        background-attachment: fixed;

    }

    .caixa-servico{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        width: 400px;
        border: none;
        border-radius: 0 0 20px 20px;

        box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.11);
        
        margin: 10px;
        padding: 30px;

    }

    .caixa-servico h3{
        color: var(--cor5);
        text-align: center;
        margin: 20px 0;
        font-size: 1.6em;
    }

    .caixa-servico p{
        color: var(--cor4);
        font-size: 1em;
    }

    section div.servicos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        box-shadow: none;
    }

    section div.servicos h2{
        font-size: 2.5em;
        padding: 20px 0;
        color: var(--cor4);
    }

    section div.servicos p{
        font-size: 1em;
    }

    section div.servicos a{
        width: 150px;
        height: 5vh;
        margin: 15px 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: .9em;
        font-weight: bold;
        font-family: Inter;

        border-radius: 50px;
        border: 2px solid var(--cor8);

        color: var(--cor4);

        cursor: pointer;

        transition: .1s;
    }

    section div.servicos a:hover{
        border: 2px solid var(--cor4);
        color: var(--cor7);
        background-color: var(--cor4);
    }


    /*************************************************************/
    /*********************** CONTATO.HTML ************************/
    /*************************************************************/


    .contato-container{
        background-image: linear-gradient(to right, var(--cor4) 0%, transparent 55%, var(--cor4) 099%), url(../assets/imagens/background-1.jpg);
        background-position: center 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contato{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 400px;
        height: 90vh;

        margin-left: 150px;

        font-family: Inter;
        transition: .2s;
    }

    body#contato div.contato .logo{
        display: inline-flex;
    }

    body#contato div.contato .logo span{
        color: var(--cor7);
    }

    .lista-contato h2{
        color: var(--cor7);
        font-size: 3em;
        background-image: linear-gradient(to right, var(--cor7) 10%, var(--cor3) 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .lista-contato ul{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .lista-contato ul li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .lista-contato ul li a{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        margin: 20px 0;
        padding-left: 30px;

        width: 350px;
        height: 10vh;

        border-radius: 30px;

        background-color: white;
        color: var(--cor4);

        transition: .2s;
    }

    .lista-contato ul li p{
        padding: 0 10px;
        font-size: 1.5em;
        font-family: Montserrat;
        text-shadow: 0px 1px 1px var(--cor1);
    }

    .lista-contato ul li a:hover{
        background-color: var(--cor8);
        color: var(--cor7);
        box-shadow: 0px 10px 50px var(--cor4);
        font-weight: bold;
    }


    .lista-contato ul li a img{
        width: 50px;
    }


    /**********************************************************************************/
                                /*COMEÇO DO FOOTER*/
    /**********************************************************************************/

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        background-color: var(--cor4);
        color: var(--cor1);
        
        font-family: "Plus Jakarta Sans";
        
        box-shadow: 0px -3px 9px 0px var(--cor4);
    }

    footer .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;

        margin-top: 50px;
    }


    .redes-sociais-footer ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
    }

    .redes-sociais-footer ul li{
        padding: 15px;
    }

    .redes-sociais-footer ul li a{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        color: var(--cor1);
        text-shadow: 2px 2px 5px var(--cor6);

        transition: .3s;
    }

    .redes-sociais-footer ul li a p{
        padding: 0 5px;
    }

    .redes-sociais-footer ul li a img{
        width: 30px;
    }

    .redes-sociais-footer ul li a:hover{
        transform: translate(-2px, -2px);
        text-shadow: 2px 2px 10px var(--cor6);
        color: var(--cor3);
    }

    .logo-redes .logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo-redes hr{
        width: 100%;
        margin: 10px 0;
        border-color: var(--cor4);
    }

    .logo-redes .logo img{
        width: 200px;
    }

    .logo-redes .logo-titulo-principal{
        font-size: 3em;
    }

    .logo-redes .logo-subtitulo{
        font-size: 1.2em;
    }

    .logo-redes .texto-footer{
        color: var(--cor3);
        text-align: center;
    }

    .mapa-site{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        gap: 20px;
    }


    .nav-footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-footer h3{
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .nav-footer ul{
        list-style: none;
    }

    .nav-footer ul li{
        margin: 5px 0;
    }

    .nav-footer ul li a{
        color: var(--cor7);
        transition: .2s;
    }

    .nav-footer ul li a:hover{
        color: var(--cor3);
    }

    div#creditos{
        font-size: .7em;
        margin: 15px;
        display: flex;
        align-self: flex-end;
    }


    #creditos a{
        color: var(--cor3);
    }

}